@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-primary: #242424;
  --dark-secondary: #1a1a1a;
  
  --green-primary: #40c762;
  --red-primary: #ed1543;
  --blue-primary: #28a0dd;

  --text-primary: #e7e8f2;
  --text-secondary: #c6c7d0;
}

html {
  font-family: 'Open Sans', sans-serif;
  color: var(--text-primary);
}

body {
  background-color: var(--dark-primary);
}

/* Section do Navbar */
.navbar {
  max-width: 18.75rem;
  min-width: 17rem;
  width: 100%;
  height: 100vh;
  float: left;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: var(--dark-secondary);
  text-align: center;
}

.nav-container {
  position: relative;
  top: calc(100% - 70%);
}

.nav-container nav ul {
  list-style: none;
  text-align: center;
}

.nav-container nav ul li {
  padding: 0.3rem;
}

.nav-container nav ul li a {
  text-decoration: none;
  color: var(--text-secondary);
  font-size: 1.25rem;
  font-weight: 600;
  opacity: 0.8;
  cursor: pointer;
}

.nav-container nav ul li a:hover {
  color: var(--green-primary);
}

.image-container {
  display: inline-block;
  margin-bottom: 2rem;
  width: 200px;
}

.image-container img {
  border-radius: 50%;
  border: var(--green-primary) 3px solid;
}

/* ======= Página SOBRE ======= */

.about-container {
  height: 100vh;
  padding: 0 3rem;
  margin-left: 20rem;
}

.about-container > div {
  position: relative;
  top: 25%;
}

.about-container h1 {
  margin-left: -6px;
  font-size: 6rem;
  line-height: 1.6;
}

.about-container  h1  span {
  color: var(--green-primary);
}

.info-container > address {
  margin-bottom: 1rem;
  font-size: 1.75rem;
  font-style: normal;
  color: var(--text-primary);
  line-height: 1.6;
}

.contact-container {
  line-height: 1.6;
  margin: 0.5rem 0;
}

.contact-container > div > strong {
  font-size: 1.35rem;
}

.contact-container > div > a {
  text-decoration: none;
  font-size: 1.35rem;
  color: var(--green-primary);
}

.contact-container > div > a:hover {
  opacity: 0.8;
}

.about-me {
  margin: 2rem 0;
  color: var(--text-secondary);
  font-size: 1.12rem;
  line-height: 1.6;
}

.social-media-container > ul {
  list-style: none;
}

.social-media-container > ul > li {
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: var(--dark-secondary);
  text-align: center;
}

.social-media-container > ul > li + li {
  margin-left: 2rem;
}

.social-media-container > ul > li > a {
  display: block;
  width: 80px; 
  height: 80px; 

  border-radius: 50%;
  text-decoration: none;
  border: 2px solid transparent;
  cursor: pointer;
}

.social-media-container > ul > li > a:hover {
  border: var(--green-primary) 2px solid;
}

.social-media-container > ul > li > a > img {
  position: relative;
  top: 30%;
  width: 35px;
  height: 30px;
}

/* ======= Página CONHECIMENTOS ======= */

.knowledge-container {
  padding: 2rem;
  height: 100vh;
  margin-left: 20rem;
}

.card-container {
  list-style-type: none;
  font-weight: 700;
  max-width: 800px;
  position: absolute;
  margin: calc(100% - 90%) auto;
}

.card-container li {
  max-width: 200px;
  background-color: #282a36;
  border: var(--green-primary) solid 2px;
  padding: 1rem;
  border-radius: 8px;
  float: left;
  margin: 1rem;
}

.card-container li h3 {
  float: left;
  margin-right: 1rem;
  font-size: 1rem;
}

.card-container li img {
  width: 40px;
  height: 40px;
}

/* ======= Página Objetivos ======= */

.goals {
  width: 100%;
  height: 100vh;
  padding: 2rem;
}

.goals > section {
  margin-left: 20rem;
  position: relative;
  top: 15%;
}

.goals > section > h2 {
  margin-top: 2rem;
  font-size: 1.5rem;
  color: var(--text-secondary);
}

.goals > section > div {
  margin-top: 1rem;
  padding: 2rem;
  border-radius: 10px;
  font-size: 1.2rem;
  background-color: var(--dark-secondary);
  max-width: 1000px;
}

.goals ul {
  padding: 1rem;
}

.goals ul > li > span {
  color: var(--green-primary);
  font-weight: 700;
}