@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-primary: #242424;
  --dark-secondary: #1a1a1a;
  
  --green-primary: #40c762;
  --red-primary: #ed1543;
  --blue-primary: #28a0dd;

  --text-primary: #e7e8f2;
  --text-secondary: #c6c7d0;
}

html {
  font-family: 'Open Sans', sans-serif;
  color: var(--text-primary);
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: var(--dark-primary);
  display: flex;
}

/* Scroll personalizado*/

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--green-primary); 
}

/* Section do Navbar */
.navbar {
  position: fixed;
  max-width: 18.75rem;
  min-width: 17rem;
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

  background-color: var(--dark-secondary);
}

.space {
  max-width: 18.75rem;
  min-width: 17rem;
  width: 100%;
  height: 100vh;
}

.image-container {
  margin-bottom: 2rem;
}

.image-container img {
  border-radius: 50%;
  border: var(--green-primary) 3px solid;
}

.nav-container nav ul {
  list-style: none;
  text-align: center;
}

.nav-container nav ul li {
  padding: 0.3rem;
}

.nav-container nav ul li a {
  text-decoration: none;
  color: var(--text-secondary);
  font-size: 1.25rem;
  font-weight: 600;

  cursor: pointer;

  transition: 200ms ease-in all;
}

.nav-container nav ul li a:hover {
  color: var(--green-primary);
}

/* ======= Página SOBRE ======= */

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 0 3rem;
}

.about-container > h1 {
  font-size: 6rem;
  line-height: 1.6;
}

.about-container > h1 > span {
  color: var(--green-primary);
}

.info-container > address {
  margin-bottom: 1rem;
  font-size: 1.75rem;
  font-style: normal;
  color: var(--text-primary);
  line-height: 1.6;
}

.contact-container {
  line-height: 1.6;
  margin: 0.5rem 0;
}

.contact-container > div > strong {
  font-size: 1.35rem;
}

.contact-container > div > a {
  text-decoration: none;
  color: var(--text-secondary);
  font-size: 1.35rem;

  transition: 200ms ease-in color;
}

.contact-container > div > a:hover {
  color: var(--green-primary);
}

.about-me {
  margin: 2rem 0;
  color: var(--text-secondary);
  font-size: 1.12rem;
  line-height: 1.6;
}

.ph-hand-waving {
  color: #daa520;
}

.social-media-container > ul {
  list-style: none;

  display: flex;
  gap: 2rem;
}

.social-media-container > ul > li {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: var(--dark-secondary);
  text-align: center;
}

.social-media-container > ul > li > a {
  width: 80px; 
  height: 80px; 

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  text-decoration: none;

  cursor: pointer;

  transition: 100ms ease-in border;
}

.social-media-container > ul > li > a:hover {
  border: var(--green-primary) 2px solid;
}

.social-media-container > ul > li > a > i {
  color: var(--green-primary);
  font-size: 1.75rem;
}

/* ======= Página CONHECIMENTOS ======= */

.knowledge-container {
  padding: 2rem;
  width: 100%;
}

.knowledge-container > h1 {
  padding: 2rem;
  font-size: 3rem;
}

.knowledge-container > section {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}

.knowledge-container > section > section > h2 {
  font-size: 1.25rem;
  color: var(--text-secondary);
  line-height: 1.6;
  margin-bottom: 0.35rem;
}

.ph-database {
  color: #daa520;
}

.ph-monitor {
  color: #daa520;
}

.ph-wrench {
  color: #daa520;
}

.knowledge-container > section > section > div {
  padding: 2rem;
  border-radius: 8px;
  background-color: var(--dark-secondary);
}

.card-container {
  max-width: 1420px;
  display: flex;
  gap: 2.5rem;
  font-weight: 700;
  overflow-x: auto;
}

.card-container li {
  background-color: #282a36;
  padding: 1rem;
  border-radius: 8px;
  min-width: 11.5rem;
}

.card-container li div {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.card-container li div h3 {
  font-size: 1rem;
}

.card-container li div img {
  width: 40px;
  height: 40px;
}

.card-container li span {
  display: block;
  font-weight: 700;
  margin-top: 0.75rem;
}

.card-container li span p {
  display: inline;
  font-weight: 700;
  font-size: 0.85rem;
  padding: 0.25rem;
  border-radius: 5px;
  background-color: var(--red-primary);
}